#-------------- VARIAVEIS GLOBAIS -----------------------

sec = 0
treino = 0
cadAlunos = []
treinoAlunos = []

# ------------- CLASSES --------------
class Aluno:
    def __init__(self, nome, cpf, peso, altura):
        self.nome = nome
        self.cpf = cpf
        self.peso = peso
        self.altura = altura
        self.status = False

class Exercicio:
  nomeExercicio = None
  numRepeticoes = 0
  pesoExercicio = 0

# ------------- FUNÇÕES -----------------

def menuprinc():
  print('''\nBem vindo a Academia No pain No gain
  Oque gostaria de fazer hoje?
  [1] Cadastrar Aluno
  [2] Gerenciar Treino
  [3] Consultar Aluno
  [4] Atualizar Cadastro
  [5] Excluir Aluno
  [6] Relatorio de Alunos
  [0] Sair''')
  sec = int(input(' Digite o numero seção: '))
  return sec

def cadastroalun():
  for i in range(1):
    nome = input('\nInsira o Nome do Aluno: ')
    cpf = int(input('Insira o cpf do Aluno: '))
    peso = float(input('Insira o Peso do Aluno: '))
    altura = float(input('Insira a Altura do Aluno: '))
    cadAlunos.append(Aluno(nome, cpf, peso, altura))
    treinoAlunos.append([])

def menutreino():
  print('''\nOque deseja realizar?
  [1] Incluir um novo Exercício
  [2] Alterar um Exercício
  [3] Excluir um Exercício
  [4] Excluir Todos os Exercícios
  [0] Retornar ao Menu Principal''')
  treino = int(input())
  return treino

def exercicio():
  for i in range(1):
    exer = Exercicio()
    exer.nomeExercicio = input('Digite o Nome do Exercicio: ')
    exer.numRepeticoes = int(input('Digite o Numero de Repetições: '))
    exer.pesoExercicio = float(input('Digite o Peso para o Exercicio: '))
    treinoAlunos.append(exer)

def pesquisaalun():
  alu = input('\nQual Aluno Deseja Ver? ')
  for alu in cadAlunos:
    if alu.nome == alu:
        print('\nNome:', alu.nome)
        print('CPF:', alu.cpf)
        print('Peso:', alu.peso)
        print('Altura:', alu.altura)
        print('Status:', alu.status)
        break
    else:
      print('\nAluno não encontrado.')

#--------------------- CÓDIGO ------------------------------
while True:                
  sec = menuprinc() 
  if sec == 1:   # Cadastro de Alunos
    cadastroalun()
#==============================================================================#
  elif sec == 2: # Gerenciar Treino
    while True:
      treino = menutreino()
      if treino == 1: # Inserir Treino
        exercicio()
      #elif treino == 2:
      #elif treino == 3:
      #elif treino == 4:
      elif treino == 0:
        break
        menuprinc()
      #else:
        print('Seção Invalida, Digite um Valor Valido')
        continue
#==============================================================================#
  elif sec == 3:     #consulta aluno
     alu = pesquisaalun()
  #elif sec == 4:
  #elif sec == 5:
  #elif sec == 6:
  elif sec == 0:
    break
  else:
    print('\nSeção Invalida, Digite um Valor Valido')
    continue
