#-------------- VARIAVEIS GLOBAIS -----------------------

rel = None
altreino = None
atu = None
inc = None
alu = None
sec = None
treino = None
cadAlunos = []
treinoAlunos = []

# ------------- CLASSES --------------
class Aluno:
    def __init__(self, nome, cpf, peso, altura):
      self.nome = nome
      self.cpf = cpf
      self.peso = peso
      self.altura = altura
      self.status = False

class Exercicio:
  def __init__(self, exerc, rept, peso):
    self.exerc = exerc
    self.rept = rept
    self.peso = peso

#------------ FUNÇÕES DE VERIFICAÇÃO -------------



#-------- FUNÇÃO MENU PRINCIPAL --------------

def menuprinc():
  print('''\nBem vindo a Academia No pain No gain
  Oque gostaria de fazer hoje?
  [1] Cadastrar Aluno
  [2] Gerenciar Treino
  [3] Consultar Aluno
  [4] Atualizar Cadastro
  [5] Excluir Aluno
  [6] Relatorio de Alunos
  [0] Sair''')
  sec = int(input(' Digite o numero seção: '))
  return sec

#-------------- CADASTRO ALUNO -----------------

def cadastroalun():
  nome = input('\nInsira o Nome do Aluno: ')
  cpf = int(input('Insira o cpf do Aluno: '))
  peso = float(input('Insira o Peso do Aluno: '))
  altura = float(input('Insira a Altura do Aluno: '))
  cadAlunos.append(Aluno(nome, cpf, peso, altura))
  treinoAlunos.append([])
  print('\nAluno Cadastrado com Sucesso!')

#--------------- PESQUISA DE ALUNOS -------------------------

def pesquisaalun():
  alu = input('\nQual Aluno Deseja Consultar? ')
  for cad in cadAlunos:
    if cad.nome == alu:
      print('\nAluno Encontrado!')
      print('Nome:', cad.nome)
      print('CPF:', cad.cpf)
      print('Peso:', cad.peso)
      print('Altura:', cad.altura)
      print('Status:', cad.status)
      id_alu = cadAlunos.index(cad)
      if treinoAlunos[id_alu]:
        print('\nExercícios do aluno:')
        for trei in treinoAlunos[id_alu]:
          print('\nTreinos do aluno: ')
          print('Treino: ', trei.exerc)
          print('Repetiçoes: ', trei.rept)
          print('Peso: ', trei.peso)
      else:
        print('\nO aluno não tem exercícios cadastrados.')
        break
    else:
        print('\nAluno não Encontrado!')

#------------ ATUALIZAR CADASTRO -----------------

def atualizar():
    alu = input('\nQual Aluno Deseja Atualizar? ')
    for cad in cadAlunos:
        if cad.nome == alu:
            print('\nAluno Encontrado!')
            novo_nome = input('Digite o Novo Nome ou Caso Não Queira Mudar deixe em Branco: ')
            if novo_nome != '':
                cad.nome = novo_nome
            novo_cpf = input('Digite o Novo Cpf ou Caso Não Queira Mudar deixe em Branco: ')
            if novo_cpf != '':
                cad.cpf = novo_cpf
            novo_peso = input('Digite o Novo Peso ou Caso Não Queira Mudar deixe em Branco: ')
            if novo_peso != '':
                cad.peso = float(novo_peso)
            nova_altura = input('Digite a Nova Altura ou Caso Não Queira Mudar deixe em Branco: ')
            if nova_altura != '':
                cad.altura = float(nova_altura)
            print('\nAluno Atualizado com Sucesso!')
            break
        else:
          print('\nAluno não encontrado!')

#--------------- EXCLUIR ALUNO -------------------------

def Excluialuno():
  alu = input('\nQual Aluno Deseja excluir? ')
  for cad in cadAlunos:
    if cad.nome == alu:
      print('\nAluno Encontrado!')
      print('Nome:', cad.nome)
      print('CPF:', cad.cpf)
      print('Peso:', cad.peso)
      print('Altura:', cad.altura)
      print('Status:', cad.status)
      id_alu = cadAlunos.index(cad)
      if treinoAlunos[id_alu]:
        for trei in treinoAlunos[id_alu]:
          conf = input('\nDeseja exclui-lo permanentemente: S/N')
          if conf == 'S' or conf == 's':
            cadAlunos.remove(cad)
            treinoAlunos.pop(id_alu)
            print('\nAluno excluido com sucesso!')
          elif conf == 'N' or conf == 'n':
            print('\nRetornando ao menu principal')
            break
    else:
        print('\nAluno não Encontrado!')

#---------------- RALATORIO ALUNO ----------------------------

def RelatorioAluno():
    opc = int(input('''\n1-Relatório de alunos ativos
2-Relatório de alunos inativos
3-Relatório de todos os alunos
'''))
    if opc == 1:
      mAlunos(True, True)
    elif opc == 2:
      mAlunos(False, False)
    elif opc == 3:
      mAlunos(True, False)
    else:
      print('Opção invalida, Digite Novamente')
      return RelatorioAluno()

def mAlunos(y1, y2):
  X = True
  for i in range(len(cadAlunos)):
      if cadAlunos[i].status == y1 or cadAlunos[i].status == y2:
          X = False
          print(f"-----Aluno-----")
          print("Nome:", cadAlunos[i].nome)
          print("Cpf:", cadAlunos[i].cpf)
          print(f"Peso: {cadAlunos[i].peso} Kg")
          print(f"Altura: {cadAlunos[i].altura} cm")
          if y1 == True and y2 == False:
            if cadAlunos[i].status == True:
              print("Aluno ativo")
            elif cadAlunos[i].status == False:
              print("Aluno inativo")
          print()
  if X and (y1 == True and y2 == True):
    print("nenhum aluno ativo foi encontrado\n")
  elif X and (y1 == False and y2 == False):
    print("nenhum aluno inativo foi encontrado\n")
  elif X:
    print("Não há alunos cadastrados\n")
  while True:
    cont = input('\nDeseja continuar em Relatorios: S/N')
    if cont == 'S' or cont == 's':
      break
      RelatorioAluno()
    elif cont == 'N' or cont == 'n':
      break
      menuprinc()
    else:
      print('Opção invalida!')


#--------------- MENU TREINO -----------------------

def menutreino():
  print('''\nOque deseja realizar?
  [1] Incluir um novo Exercício
  [2] Alterar um Exercício
  [3] Excluir um Exercício
  [4] Excluir Todos os Exercícios
  [0] Retornar ao Menu Principal''')
  treino = int(input())
  return treino

#----------------- CADASTRO TREINOS -------------------------

def inctreino():
  while True:
    alu_nome = input('\nQual Aluno deseja Cadastrar: ')
    id_alu = None
    for ind in range(len(cadAlunos)):
      cad = cadAlunos[ind]
      if cad.nome == alu_nome:
        id_alu = ind
        break
    if id_alu is not None:
      while len(treinoAlunos[id_alu]) < 10:
        nometrei = input('Digite o Nome do Exercicio: ')
        numerep = int(input('Digite o Numero de Repetições: '))
        pesotrei = float(input('Digite o Peso para o Exercicio: '))
        treinoAlunos[id_alu].append(Exercicio(nometrei, numerep, pesotrei))
        print('Treino registrado com sucesso!')
        cadAlunos[id_alu].status = True
        conf = input('\nDeseja continuar adcionando treinos ? S/N ')
        if conf == 'S' or conf == 's':
          continue
        elif conf == 'N' or conf == 'n':
          break
          menuprinc()
        else:
          conf = input('\nInvalido, Digite Novamente: S/N ')
    else:
      print('\nNome não encontrado!')
    conf = input('\nDeseja voltar ao menu de treino S/N ')
    if conf == 'S' or conf == 's':
      break
      RelatorioAluno()
    elif conf == 'N' or conf == 'n':
      break
      menuprinc()
    else:
      conf = input('\nInvalido, Digite Novamente: S/N ')

#-------------------- ALTERAR TREINO ------------------------------

def altreino():
  alu_nome = input('\nQual Aluno deseja modificar o treino: ')
  alu_ind = None
  for ind in range(len(cadAlunos)):
      cad = cadAlunos[ind]
      if cad.nome == alu_nome:
          alu_ind = ind
          break
  if alu_ind is not None:
      print('Treinos do Aluno:')
      for ind in range(len(treinoAlunos[alu_ind])):
          treino = treinoAlunos[alu_ind][ind]
          print(f'[{ind + 1}] | [{treino.exerc}] | [{treino.rept} repetições] - [{treino.peso} kg]')
      treino_ind = int(input('Qual treino deseja alterar? ')) - 1
      if 0 <= treino_ind < len(treinoAlunos[alu_ind]):
          nometrei = input('Digite o Nome do Exercicio: ')
          numerep = int(input('Digite o Numero de Repetições: '))
          pesotrei = float(input('Digite o Peso para o Exercicio: '))
          treinoAlunos[alu_ind][treino_ind] = Exercicio(nometrei, numerep, pesotrei)
          print('Treino alterado com sucesso!')
      else:
        print('Índice de treino inválido!')
  else:
    print('\nNome não encontrado!')

#----------------- EXCLUIR TREINO ---------------------------------

def excltrei():
  nome_aluno = input('Digite o nome do aluno: ')
  id_alu = None
  for i in range(len(cadAlunos)):
      if cadAlunos[i].nome == nome_aluno:
          id_alu = i
          break
  if id_alu is not None:
      print('Exercícios do aluno:')
      for trei in treinoAlunos[id_alu]:
          print(f'- [{trei.exerc}] ([{trei.rept} repetições], [{trei.peso} kg])')
      nome_trei = input('Digite o nome do exercício a ser excluído: ')
      id_trei = None
      for i in range(len(treinoAlunos[id_alu])):
          if treinoAlunos[id_alu][i].exerc == nome_trei:
              id_trei = i
              break
      if id_trei is not None:
          treinoAlunos[id_alu].pop(id_trei)
          print('Exercício excluído com sucesso!')
      else:
        print('Exercício não encontrado.')
  else:
    print('Aluno não encontrado.')

#---------------- EXCLUIR TODOS TREINOS ---------------------------------

def excltodostrei():
    nome_aluno = input('Digite o nome do aluno: ')
    id_alu = None
    for i in range(len(cadAlunos)):
        if cadAlunos[i].nome == nome_aluno:
            id_alu = i
            break
    if id_alu is not None:
        treinoAlunos[id_alu].clear()
        print('Todos os exercícios excluídos com sucesso!')
    else:
        print('Aluno não encontrado.')

#--------------------- CÓDIGO ------------------------------

while True:
  sec = menuprinc()
  if sec == 1:   # Cadastro de Alunos
    alu = cadastroalun()
  elif sec == 2: # Gerenciar Treino
    while True:
      treino = menutreino()
      if treino == 1: # Inserir Treino
        inc = inctreino()
      elif treino == 2:  #altera treino
        alt = altreino()
      elif treino == 3:   #exclui treino
        exc = excltrei()
      elif treino == 4:   #exclui todos os treinos
        exc = excltodostrei()
      elif treino == 0:   #sai do menu treino e volta ao principal
        break
        menuprinc()
      else:
        print('Seção Invalida, Digite um Valor Valido')
        continue
  elif sec == 3:     #consulta aluno
    alu = pesquisaalun()
  elif sec == 4:    #atualizar Cadastro
    atu = atualizar()
  elif sec == 5:    #exclui aluno
    exc = Excluialuno()
  elif sec == 6:    #relatorio de aluno
    rel = RelatorioAluno()
  elif sec == 0:   #encerra o codigo
    break
  else:     
    print('\nSeção Invalida, Digite um Valor Valido')
    continue
